.todo {
  display: flex;
  max-width: 500px;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background-color: var(--foreground-color);
  box-shadow: 0 0 5px var(--shadow);
}

.text {
  overflow-x: auto;
}

.textCompleted {
  color: gray;
  text-decoration: line-through;
}
