.checkbox {
  height: 30px;
  flex: 0 0 30px;
  border-radius: 50%;
}

.checkbox:hover {
  cursor: pointer;
}

.notChecked {
  border: 1px solid gray;
}

.checked {
  border: 1px solid var(--green-color);
  background-image: url('../../assets/icons/check.png');
  background-position: center;
  background-size: 100% 100%;
}
